body{background-color: aquamarine;
background-image: url('C:\Users\manik\OneDrive\Pictures\tomandjerry.jpg');}
h1{color: brown;}
p{color: blueviolet;
border: 30px solid palegreen;
padding: 30px;
margin: 50px;
text-align: center;
background-color:yellow;}